<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPAZ1mgyT33HhGzyL-Pe2SXrnsqNlMVW4&libraries=places"></script>
    <script src="nonMarkup/js/main.js"></script>
    <link rel="stylesheet" href="markup/css/styles.css">
    <script src="nonMarkup/js/bundle.js"></script>

</head>

<body>
    <div class="section">
        <div class="locationRow">
            <div class="container" id="app">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-compass"></span></div>
                            <input id="autocomplete" name="address_1" class="autoCompleteClass" type="text"
                                placeholder="Locate Your Address" v-model="address">
                            <div class="input-group-addon"><span class="fa fa-home"></span></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container" id="app2">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-compass"></span></div>
                            <input id="autocomplete2" name="address_1" class="autoCompleteClass" type="text"
                                placeholder="Locate Your Address" v-model="address">
                            <div class="input-group-addon"><span class="fa fa-home"></span></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="outputsDiv">
            <h3 id="aerialDistText">
                Bird's Distance is
            </h3>
            <h3 id="carDistText">
                    Car's Distance is
                </h3>
        </div>
        
    </div>
</body>